/** @format */

// Search bar container
.header__search-bar {
  height: 30px;
  position: relative;
}

// Search input field
.header__search-input {
  height: 100%;
  border-radius: 17px;
  text-indent: 15px;
  border: solid 1px var(--greyish-two);
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--pinkish-grey);
}

// Search icon container
.header__search-icontainer {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 10%;
  opacity: 0.6;
}

// Search icon
.header__search-icon {
  font-size: 20px;
}
