/** @format */

.view {
  position: relative;
  min-height: 100vh;
  .view__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 4px 0 var(--black-8);
  }

  .view__body {
    padding: 37px 130px 0;
  }

  .view__footer {
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px 0 var(--black-8), 0 -1px 4px 0 var(--black-8);
    background-color: var(--white);
  }
}
