/** @format */

/** First Row **/
.header__first-row {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  box-sizing: border-box;
  border-bottom: solid 1px #ececec;
}

// Search bar container
.header__search-bar {
  height: 30px;
  position: relative;
}

.header__logo-container {
  width: auto;
  height: 30px;
}

.header__logo {
  height: 100%;
}

.header__button-group {
  display: flex;
  align-items: center;
  height: 30px;
}

.header__second-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
